* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif, "Lora", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

#header {
  position: fixed;
  width: 100%;
  z-index: 99;
  background: #FFFFFF;
  padding: 30px 0;
  border-radius: 0 0 50px 50px;
  box-shadow: 0 3px 25px rgba(0, 0, 0, 0.44);
  transition: 2.5s;
}
#header:hover {
  background: #0D2C4A;
  box-shadow: 0 10px 25px #000000;
  transition: 0.6s;
}
#header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header:hover h1 {
  color: #ffffff;
}
#header .header:hover h1 span0 {
  color: #FF5722;
}
#header .header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: #000000;
  letter-spacing: 3px;
  animation: logo 5s alternate infinite;
  transition: 0.7s;
}
#header .header h1 span0 {
  color: #000000;
  transition: 0.7s;
}
#header .header--nav {
  display: flex;
  justify-content: space-between;
  width: 53%;
  margin-left: 10%;
}
#header .header--nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 27px;
  border: none;
  background: transparent;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #000000;
  letter-spacing: 1px;
  transition: 0.7s;
}
#header .header--nav a:hover {
  color: black;
  background: white;
  border-radius: 3px;
  box-shadow: 0 2px 10px white;
  transform: scale(1.05);
  transition: 0.3s;
}
#header .header--btn button {
  width: 120px;
  height: 45px;
  color: #000000;
  border-radius: 2px;
  background: transparent;
  border: none;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  letter-spacing: 1.5px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
}
#header .header--btn button:hover {
  color: white;
  background: transparent;
  box-shadow: none;
}
#header .header--btn button:before, #header .header--btn button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #ffffff;
  transition: 400ms ease all;
}
#header .header--btn button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
#header .header--btn button:hover:before, #header .header--btn button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

#know {
  padding: 12% 0 12% 0;
}
#know .know--desk {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;
}
#know .know--desk h5 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #222831;
}
#know .know--desk__line {
  width: 75px;
  height: 3px;
  background: #222831;
}
#know .know--title {
  display: flex;
}
#know .know--title h1 {
  width: 665px;
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 52px;
  line-height: 67px;
  margin-top: 10px;
  color: #10375C;
  filter: drop-shadow(0 3px 3px black);
}
#know .know--title h1 span1 {
  color: #DD2C00;
}
#know .know--title p {
  width: 380px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 20px 0 0 50px;
  color: #6A6A6A;
  transition: 0.3s;
}
#know .know--title p:hover {
  transform: scale(1.05);
  color: black;
}
#know .know--regis__blogs {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  width: 445px;
  height: 415px;
  background: #10375C;
}
#know .know--regis__blogs h2 {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 34px;
  color: #FFFFFF;
  margin-bottom: 25px;
  filter: drop-shadow(0 3px 3px black);
}
#know .know--regis__blogs select {
  width: 370px;
  height: 70px;
  background: #0D2C4A;
  border: none;
  outline: none;
  font-family: "Lato", sans-serif;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
  padding: 0 10px 0 10px;
  color: white;
  transition: 0.5s;
  border-radius: 5px;
  box-shadow: 0 2px 5px black;
}
#know .know--regis__blogs select:hover {
  background: white;
  color: black;
}
#know .know--regis__blogs select option {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
  background: #FFFFFF;
}
#know .know--regis__blogs button {
  width: 365px;
  height: 55px;
  background: #FF5722;
  border: none;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  transition: 0.3s;
}
#know .know--regis__blogs button:hover {
  transform: scale(1.03);
  box-shadow: 0 5px 10px -5px #ffffff;
  background: white;
  color: #FF5722;
  letter-spacing: 3px;
}
#know .know--regis__img img {
  width: 100%;
}

#space {
  padding-bottom: 4%;
}
#space .space--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#space .space--title h2 {
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #10375C;
  filter: drop-shadow(0 3px 3px black);
}
#space .space--title p {
  width: 450px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #6A6A6A;
  line-height: 28px;
  transition: 0.3s;
}
#space .space--title p:hover {
  transform: scale(1.05);
  color: black;
}
#space .space--title__label {
  display: flex;
  justify-content: space-between;
  width: 17%;
}
#space .space--title__label label ion-icon {
  font-size: 100px;
  color: #9A9A9A;
  transition: 0.3s;
}
#space .space--title__label label ion-icon:hover {
  color: #FF5722;
  filter: drop-shadow(0 3px 5px #FF5722);
  transform: scale(1.1);
  cursor: pointer;
}
#space .space--block {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
#space .space--block input {
  display: none;
}
#space .space--block #back:checked ~ .space--block__office {
  transform: translateX(-320px);
  transition: 0.7s;
  box-shadow: 2px 2px 10px 5px;
}
#space .space--block #forward:checked ~ .space--block__work {
  transform: translateX(320px);
  transition: 0.7s;
  z-index: 1;
  box-shadow: -2px 2px 10px 5px;
}
#space .space--block #forward:checked ~ .space--block__office {
  transform: translateX(-320px);
  transition: 0.7s;
  box-shadow: 2px 2px 10px 5px;
}
#space .space--block #all:checked ~ .space--block__open {
  transform: scale(1.2);
  transition: 0.7s;
  z-index: 2;
  box-shadow: 7px 7px 25px 5px rgb(0, 0, 0);
}
#space .space--block #all:checked ~ .space--block__office {
  transform: translateX(1px);
  transition: 0.7s;
  box-shadow: none;
}
#space .space--block #all:checked ~ .space--block__work {
  transform: translateX(-1px);
  transition: 0.7s;
  box-shadow: none;
}
#space .space--block__work {
  position: relative;
  transition: 0.7s;
}
#space .space--block__work img {
  width: 350px;
  height: 419px;
}
#space .space--block__work--icon {
  position: absolute;
  top: 75.4%;
  display: flex;
  justify-content: center;
  color: white;
  width: 70px;
  height: 70px;
  background: #FF5722;
}
#space .space--block__work h2 {
  width: 95%;
  margin-top: 15px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #222831;
  z-index: 1;
}
#space .space--block__work:hover {
  transform: translateY(-25px);
  border-radius: 7px;
  box-shadow: 0 5px 20px black;
  cursor: pointer;
}
#space .space--block__open {
  position: relative;
  width: 350px;
  height: 460px;
  background: #10375C;
  transition: 0.7s;
}
#space .space--block__open img {
  margin: 3% 0 0 69%;
}
#space .space--block__open--title {
  margin: 30px 0 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
}
#space .space--block__open--title h3 {
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #FFFFFF;
  filter: drop-shadow(0 3px 3px black);
}
#space .space--block__open--title p {
  margin-top: 10px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  text-align: center;
  filter: drop-shadow(0 3px 3px black);
}
#space .space--block__open--icon {
  position: absolute;
  top: 84.6%;
  display: flex;
  justify-content: center;
  color: white;
  width: 70px;
  height: 70px;
  background: #FF5722;
}
#space .space--block__open:hover {
  transform: translateY(-35px);
  border-radius: 7px;
  box-shadow: 0 5px 20px 3px black;
  cursor: pointer;
}
#space .space--block__office {
  position: relative;
  transition: 0.7s;
}
#space .space--block__office img {
  width: 350px;
  height: 419px;
}
#space .space--block__office--icon {
  position: absolute;
  top: 75.7%;
  display: flex;
  justify-content: center;
  color: white;
  width: 70px;
  height: 70px;
  background: #FF5722;
}
#space .space--block__office h2 {
  margin-top: 10px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #222831;
  text-align: center;
}
#space .space--block__office:hover {
  transform: translateY(-25px);
  border-radius: 10px;
  box-shadow: 0 5px 20px black;
  cursor: pointer;
}

#custom {
  padding: 4% 0;
}
#custom .custom {
  display: flex;
  justify-content: space-between;
}
#custom .custom--blogs {
  display: flex;
  width: 70%;
  cursor: pointer;
}
#custom .custom--blogs__one {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 60%;
}
#custom .custom--blogs__one--group {
  display: flex;
  transition: 0.4s;
}
#custom .custom--blogs__one--group ion-icon {
  font-size: 30px;
  color: #10375C;
}
#custom .custom--blogs__one--group__desk {
  margin-left: 20px;
}
#custom .custom--blogs__one--group__desk h1 {
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #10375C;
}
#custom .custom--blogs__one--group__desk p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #9A9A9A;
}
#custom .custom--blogs__one--group:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 3px 5px #000bff);
  cursor: pointer;
}
#custom .custom--blogs__twoo {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 80%;
}
#custom .custom--blogs__twoo--group {
  display: flex;
  transition: 0.4s;
}
#custom .custom--blogs__twoo--group ion-icon {
  font-size: 30px;
  color: #10375C;
}
#custom .custom--blogs__twoo--group__desk {
  margin-left: 20px;
}
#custom .custom--blogs__twoo--group__desk h1 {
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #10375C;
}
#custom .custom--blogs__twoo--group__desk p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #9A9A9A;
}
#custom .custom--blogs__twoo--group:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 3px 5px #000bff);
  cursor: pointer;
}
#custom .custom--block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 540px;
  height: 420px;
  background: #10375C;
  transition: 0.5s;
}
#custom .custom--block__desk {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 433px;
  height: 300px;
}
#custom .custom--block__desk h1 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #FFFFFF;
  filter: drop-shadow(0 3px 3px black);
  transition: 0.4s;
}
#custom .custom--block__desk h1:hover {
  transform: scale(1.05);
  color: white;
  filter: drop-shadow(0 3px 3px white);
  cursor: pointer;
}
#custom .custom--block__desk p {
  font-family: "Lora", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  margin-top: 15px;
  filter: drop-shadow(0 3px 3px black);
  transition: 0.4s;
}
#custom .custom--block__desk p:hover {
  transform: scale(1.03);
  color: white;
  filter: drop-shadow(0 3px 3px white);
  cursor: pointer;
}
#custom .custom--block__desk--group {
  display: flex;
  align-items: center;
  transition: 0.4s;
}
#custom .custom--block__desk--group h5 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
  filter: drop-shadow(0 3px 3px black);
  cursor: pointer;
}
#custom .custom--block__desk--group__line {
  margin-left: 30px;
  width: 75px;
  height: 2px;
  background: white;
}
#custom .custom--block__desk--group:hover {
  transform: scale(1.02);
  color: white;
  filter: drop-shadow(0 3px 3px white);
  cursor: pointer;
}
#custom .custom--block:hover {
  transform: scale(1.01);
  background: black;
  box-shadow: 0 0 20px 7px;
  cursor: pointer;
}

#facil {
  padding: 3% 0 5% 0;
}
#facil .facil--title {
  width: 570px;
}
#facil .facil--title h1 {
  margin-top: 10px;
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #10375C;
  filter: drop-shadow(0 3px 2px black);
}
#facil .facil--title__group {
  display: flex;
  align-items: center;
}
#facil .facil--title__group h5 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #222831;
}
#facil .facil--title__group--line {
  margin-left: 20px;
  width: 75px;
  height: 3px;
  background: #222831;
}
#facil .facil--tab {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#facil .facil--tab input {
  display: none;
}
#facil .facil--tab__ply {
  position: absolute;
  top: 12%;
  display: flex;
  width: 20%;
  height: 200px;
  transform: rotate(-90deg);
}
#facil .facil--tab__ply h3 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #10375C;
}
#facil .facil--tab__ply h3 span2 {
  color: rgba(0, 0, 0, 0.43);
}
#facil .facil--tab__ply--line {
  margin-left: 55px;
  margin-top: 10px;
  width: 160px;
  height: 4px;
  background: rgba(0, 0, 0, 0.28);
}
#facil .facil--tab__linetwo {
  position: absolute;
  top: 9.4%;
  left: 2.45%;
  width: 32px;
  height: 4px;
  transform: rotate(-90deg);
  background: #000000;
}
#facil .facil--tab__label {
  position: relative;
  margin-left: 15%;
  margin-top: 4%;
}
#facil .facil--tab__label label {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-top: 20px;
  padding-left: 25px;
  width: 295px;
  height: 75px;
  border: none;
  background: transparent;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  letter-spacing: 1px;
  transition: 0.3s;
}
#facil .facil--tab__label label:hover {
  background: #000000;
  color: #ffffff;
  box-shadow: 0 3px 12px 3px black;
  cursor: pointer;
}
#facil .facil--tab__label label ion-icon {
  position: absolute;
  font-size: 40px;
  color: #FF5722;
  left: 84%;
  animation: print 1.5s alternate infinite linear;
  transition: 0.3s;
}
@keyframes print {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.9;
  }
  75% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
    filter: drop-shadow(0 5px 5px black);
  }
}
#facil .facil--tab__label--trn {
  position: absolute;
  top: 37%;
  left: 220%;
  z-index: 2;
  opacity: 0;
}
#facil .facil--tab #trn:checked ~ .facil--tab__rus {
  transform: translateY(40px);
  opacity: 10;
  transition: 0.7s;
  filter: drop-shadow(0 3px 3px black);
  color: rgba(0, 0, 0, 0.73);
  text-align: center;
}
#facil .facil--tab #par:checked ~ .facil--tab__park {
  transform: translateY(213px);
  transition: 0.7s;
  box-shadow: 0 10px 30px 5px black;
  z-index: 1;
  opacity: 10;
}
#facil .facil--tab #par:checked ~ .facil--tab__park:hover {
  transform: translateY(-50px);
  z-index: 6;
  transition: 1.5s;
  cursor: pointer;
}
#facil .facil--tab #par:checked ~ .facil--tab__circle {
  opacity: 0;
  transition: 0.8s;
}
#facil .facil--tab #par:checked ~ .facil--tab__trs {
  opacity: 0;
  display: none;
}
#facil .facil--tab #par:checked ~ h2 {
  opacity: 0;
}
#facil .facil--tab #par:checked ~ .facil--tab__dev {
  opacity: 10;
  transition: 3s;
}
#facil .facil--tab #com:checked ~ .facil--tab__space {
  transform: translateY(213px);
  transition: 0.7s;
  box-shadow: 0 10px 30px 5px black;
  z-index: 1;
  opacity: 10;
}
#facil .facil--tab #com:checked ~ .facil--tab__space:hover {
  transform: translateY(-50px);
  z-index: 6;
  transition: 1.5s;
  cursor: pointer;
}
#facil .facil--tab #com:checked ~ .facil--tab__park {
  transform: translateX(213px);
  transition: 0.7s;
  box-shadow: 0 10px 30px 5px black;
  z-index: 1;
  opacity: 0;
}
#facil .facil--tab #com:checked ~ .facil--tab__circle {
  opacity: 0;
  transition: 0.8s;
}
#facil .facil--tab #com:checked ~ .facil--tab__trs {
  opacity: 0;
  display: none;
}
#facil .facil--tab #com:checked ~ h2 {
  opacity: 0;
}
#facil .facil--tab #com:checked ~ .facil--tab__dev {
  opacity: 10;
  transition: 3s;
}
#facil .facil--tab #cafe:checked ~ .facil--tab__cafe {
  transform: translateY(213px);
  transition: 0.7s;
  box-shadow: 0 10px 30px 5px black;
  z-index: 1;
  opacity: 10;
}
#facil .facil--tab #cafe:checked ~ .facil--tab__cafe:hover {
  transform: translateY(-50px);
  z-index: 6;
  transition: 1.5s;
  cursor: pointer;
}
#facil .facil--tab #cafe:checked ~ .facil--tab__space {
  transform: translateX(-213px);
  transition: 0.7s;
  box-shadow: 0 10px 30px 5px black;
  z-index: 1;
  opacity: 0;
}
#facil .facil--tab #cafe:checked ~ .facil--tab__circle {
  opacity: 0;
  transition: 0.8s;
}
#facil .facil--tab #cafe:checked ~ .facil--tab__trs {
  opacity: 0;
  display: none;
}
#facil .facil--tab #cafe:checked ~ h2 {
  opacity: 0;
}
#facil .facil--tab #cafe:checked ~ .facil--tab__dev {
  opacity: 10;
  transition: 3s;
}
#facil .facil--tab #child:checked ~ .facil--tab__play {
  transform: translateY(213px);
  transition: 0.7s;
  box-shadow: 0 10px 30px 5px black;
  z-index: 1;
  opacity: 10;
}
#facil .facil--tab #child:checked ~ .facil--tab__play:hover {
  transform: translateY(-50px);
  z-index: 6;
  transition: 1.5s;
  cursor: pointer;
}
#facil .facil--tab #child:checked ~ .facil--tab__cafe {
  transform: translateX(213px);
  transition: 0.7s;
  box-shadow: 0 10px 30px 5px black;
  z-index: 1;
  opacity: 0;
}
#facil .facil--tab #child:checked ~ .facil--tab__circle {
  opacity: 0;
  transition: 0.8s;
}
#facil .facil--tab #child:checked ~ .facil--tab__trs {
  opacity: 0;
  display: none;
}
#facil .facil--tab #child:checked ~ h2 {
  opacity: 0;
}
#facil .facil--tab #child:checked ~ .facil--tab__dev {
  opacity: 10;
  transition: 3s;
}
#facil .facil--tab #out:checked ~ .facil--tab__alta {
  transform: translateY(213px);
  transition: 0.7s;
  box-shadow: 0 10px 30px 5px black;
  z-index: 1;
  opacity: 10;
}
#facil .facil--tab #out:checked ~ .facil--tab__alta:hover {
  transform: translateY(-50px);
  z-index: 6;
  transition: 1.5s;
  cursor: pointer;
}
#facil .facil--tab #out:checked ~ .facil--tab__play {
  transform: translateX(-213px);
  transition: 0.7s;
  box-shadow: 0 10px 30px 5px black;
  z-index: 1;
  opacity: 0;
}
#facil .facil--tab #out:checked ~ .facil--tab__circle {
  opacity: 0;
  transition: 0.8s;
}
#facil .facil--tab #out:checked ~ .facil--tab__trs {
  opacity: 0;
  display: none;
}
#facil .facil--tab #out:checked ~ h2 {
  opacity: 0;
}
#facil .facil--tab #out:checked ~ .facil--tab__dev {
  opacity: 10;
  transition: 3s;
}
#facil .facil--tab #allo:checked ~ .facil--tab__park {
  transform: translateY(213px);
  transition: 0.7s;
  box-shadow: 0 10px 30px 5px black;
  z-index: 1;
  opacity: 10;
}
#facil .facil--tab #allo:checked ~ .facil--tab__park:hover {
  transform: translateY(-50px);
  z-index: 6;
  transition: 1.5s;
  cursor: pointer;
}
#facil .facil--tab #allo:checked ~ .facil--tab__space {
  transform: translateY(223px);
  transition: 1.5s;
  box-shadow: 0 10px 30px 5px black;
  z-index: 2;
  opacity: 10;
}
#facil .facil--tab #allo:checked ~ .facil--tab__cafe {
  transform: translateY(233px);
  transition: 2s;
  box-shadow: 0 10px 30px 5px black;
  z-index: 3;
  opacity: 10;
}
#facil .facil--tab #allo:checked ~ .facil--tab__off {
  transform: translateY(243px);
  transition: 2.5s;
  box-shadow: 0 10px 30px 5px black;
  z-index: 4;
  opacity: 10;
}
#facil .facil--tab #allo:checked ~ .facil--tab__play {
  transform: translateY(253px);
  transition: 3s;
  box-shadow: 0 10px 30px 5px black;
  z-index: 5;
  opacity: 10;
}
#facil .facil--tab #allo:checked ~ .facil--tab__alta {
  transform: translateY(253px);
  transition: 3.5s;
  box-shadow: 0 10px 30px 5px black;
  z-index: 6;
  opacity: 10;
}
#facil .facil--tab #allo:checked ~ .facil--tab__circle {
  opacity: 0;
  transition: 0.8s;
}
#facil .facil--tab #allo:checked ~ .facil--tab__trs {
  opacity: 0;
  display: none;
}
#facil .facil--tab #pallo:checked ~ h2 {
  opacity: 0;
}
#facil .facil--tab__park {
  position: absolute;
  bottom: 226px;
  left: 46.5%;
  width: 729px;
  height: 453px;
  z-index: 1;
  opacity: 0;
}
#facil .facil--tab__space {
  position: absolute;
  bottom: 226px;
  left: 46.5%;
  height: 453px;
  z-index: -1;
  opacity: 0;
}
#facil .facil--tab__cafe {
  position: absolute;
  bottom: 226px;
  left: 46.5%;
  z-index: -2;
  opacity: 0;
}
#facil .facil--tab__off {
  position: absolute;
  bottom: 226px;
  left: 46.5%;
  height: 453px;
  width: 729px;
  z-index: -3;
  opacity: 0;
}
#facil .facil--tab__play {
  position: absolute;
  bottom: 226px;
  left: 46.5%;
  width: 729px;
  height: 453px;
  z-index: -4;
  opacity: 0;
}
#facil .facil--tab__alta {
  position: absolute;
  bottom: 226px;
  left: 46.5%;
  height: 453px;
  z-index: -5;
  opacity: 0;
  transition: 1s;
}
#facil .facil--tab__circle {
  margin-top: 6.7%;
  width: 729px;
  height: 453px;
  border: 3px solid #000000;
  box-shadow: inset -5px -5px 15px 5px black;
}
#facil .facil--tab h6 {
  position: absolute;
  top: 45%;
  left: 68%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 30px;
  border: none;
  background: black;
  border-radius: 2px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 2px;
  box-shadow: 0 3px 5px black;
  transition: 0.5s;
  z-index: 1;
  animation: 1.5s trn infinite alternate linear;
}
@keyframes trn {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 10;
  }
}
#facil .facil--tab h2 {
  position: absolute;
  top: 55%;
  left: 62%;
  font-family: "Lato", sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.78);
  letter-spacing: 1px;
  filter: drop-shadow(0 3px 3px #000000);
}
#facil .facil--tab h1 {
  position: absolute;
  width: 30%;
  top: 55%;
  left: 58.5%;
  font-family: "Lato", sans-serif;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
  opacity: 0;
}
#facil .facil--tab h4 {
  position: absolute;
  top: 65%;
  left: 64%;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  color: black;
  filter: drop-shadow(0 3px 2px black);
  opacity: 0;
}
#facil .facil--tab h4 span3 {
  margin-left: 20px;
  color: red;
}

#work {
  padding: 4% 0;
}
#work .work {
  position: relative;
}
#work .work--title {
  width: 50%;
  margin-left: 30px;
}
#work .work--title h2 {
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #10375C;
  margin-top: 10px;
  filter: drop-shadow(0 3px 3px black);
}
#work .work--title__group {
  display: flex;
  align-items: center;
}
#work .work--title__group h5 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #222831;
}
#work .work--title__group--line {
  width: 75px;
  height: 3px;
  background: #10375C;
  margin-left: 25px;
}
#work .work--title .ping1 {
  width: 550px;
  height: 350px;
}
#work .work--title .ping2 {
  width: 550px;
  height: 350px;
}
#work .work--title .ping3 {
  width: 550px;
  height: 350px;
}
#work .work--title .ping4 {
  width: 550px;
  height: 350px;
}
#work .work--title .ping5 {
  width: 550px;
  height: 350px;
}
#work .work--title .ping6 {
  width: 550px;
  height: 350px;
}
#work .work--title .ping7 {
  width: 550px;
  height: 350px;
}
#work .work--title .ping8 {
  width: 550px;
  height: 350px;
}
#work .work--title .ping9 {
  width: 550px;
  height: 350px;
}
#work .work--title .ping10 {
  width: 550px;
  height: 350px;
}
#work .work--title .ping11 {
  width: 550px;
  height: 350px;
}
#work .work--title .ping12 {
  width: 550px;
  height: 350px;
}
#work .work .swiper {
  width: 100%;
  height: 500px;
}
#work .work .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  box-shadow: inset 0 0 25px 30px white;
}
#work .work .swiper-button-prev {
  width: 10%;
  height: 12%;
  background: black;
  color: white;
  border-radius: 15px;
  transition: 0.4s;
}
#work .work .swiper-button-prev:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px 5px #ffffff;
  background: #000000;
  color: white;
}
#work .work .swiper-button-next {
  width: 10%;
  height: 12%;
  background: black;
  color: white;
  border-radius: 15px;
  transition: 0.4s;
}
#work .work .swiper-button-next:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px 5px #ffffff;
  background: #000000;
  color: white;
}
#work .work .ping1 {
  width: 550px;
  height: 350px;
  box-shadow: 0 0 20px #ffffff;
  border-radius: 10px;
  z-index: 101;
  transition: 0.5s;
}
#work .work .ping1:hover {
  transform: translateY(-30px);
  box-shadow: 0 0 20px #ffffff;
  opacity: 0;
  cursor: pointer;
}
#work .work--by {
  position: absolute;
  top: 55%;
  left: 39%;
  width: 22%;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #ffffff;
  filter: drop-shadow(0 3px 2px #ffffff);
  z-index: 1;
}
#work .work--by span3 {
  margin-left: 20px;
  color: red;
}

#use .use--title h1 {
  margin-bottom: 30px;
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  text-align: center;
  color: #0D2C4A;
  filter: drop-shadow(0 3px 3px black);
}
#use .use--title p {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: rgba(0, 0, 0, 0.66);
  transition: 0.4s;
}
#use .use--title p:hover {
  transform: scale(1.1);
  color: black;
  cursor: pointer;
}
#use .use--imgs {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#use .use--imgs img {
  padding: 5px 10px;
  border: none;
  background: #FFFFFF;
  border-radius: 3px;
  transition: 0.4s;
}
#use .use--imgs img:hover {
  transform: translateY(-10px);
  background: black;
  box-shadow: 0 3px 10px black;
  cursor: pointer;
}

#custo {
  padding: 4% 0;
}
#custo .custo--title {
  width: 400px;
}
#custo .custo--title h1 {
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  color: #10375C;
  filter: drop-shadow(0 3px 3px black);
}
#custo .custo--title__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 43%;
}
#custo .custo--title__group h5 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #222831;
}
#custo .custo--title__group--line {
  width: 75px;
  height: 3px;
  background: black;
}
#custo .custo--labels {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#custo .custo--labels__arrow {
  width: 10%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  filter: drop-shadow(0 3px 3px black);
  color: #000000;
  font-size: 75px;
  transition: 0.4s;
}
#custo .custo--labels__arrow:hover {
  transform: scale(1.03);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.78);
  color: #000000;
  cursor: pointer;
}
#custo .custo--labels__group {
  width: 20%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  border-radius: 5px;
}
#custo .custo--labels__group label ion-icon {
  font-size: 45px;
  color: #ff0000;
  filter: drop-shadow(0 0 2px #ff0000);
  animation: suns 2.5s infinite linear;
}
@keyframes suns {
  0% {
    transform: rotate(360deg);
    cursor: pointer;
  }
}
#custo .custo--labels__group:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px 2px rgb(0, 0, 0);
  background: #000000;
}
#custo .custo--tab {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}
#custo .custo--tab input {
  display: none;
}
#custo .custo--tab__1lock {
  width: 445px;
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #10375C;
  border: 3px solid white;
  border-radius: 7px;
  transition: 0.6s;
}
#custo .custo--tab__1lock p {
  margin-left: 40px;
  width: 365px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  filter: drop-shadow(0 3px 3px black);
  transition: 0.5s;
}
#custo .custo--tab__1lock p:hover {
  transform: scale(1.07);
  filter: drop-shadow(0 3px 3px #ffffff);
  cursor: pointer;
}
#custo .custo--tab__1lock:hover {
  transform: translateY(-35px);
  box-shadow: 0 5px 25px 5px black;
  border: 3px solid red;
  background: #000000;
  cursor: pointer;
}
#custo .custo--tab__1lock--group {
  margin-left: 40px;
  display: flex;
  filter: drop-shadow(0 3px 3px black);
  transition: 0.5s;
}
#custo .custo--tab__1lock--group__title {
  width: 80%;
  margin-left: 20px;
  transition: 0.5s;
}
#custo .custo--tab__1lock--group__title h4 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}
#custo .custo--tab__1lock--group__title h2 {
  margin-top: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
#custo .custo--tab__1lock--group__title:hover {
  width: 80%;
  margin-left: 60px;
  cursor: pointer;
}
#custo .custo--tab__1lock--group:hover {
  filter: drop-shadow(0 3px 3px white);
  cursor: pointer;
}
#custo .custo--tab__2lock {
  width: 445px;
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #10375C;
  border: 3px solid white;
  border-radius: 7px;
  transition: 0.6s;
}
#custo .custo--tab__2lock p {
  margin-left: 40px;
  width: 365px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  filter: drop-shadow(0 3px 3px black);
  transition: 0.5s;
}
#custo .custo--tab__2lock p:hover {
  transform: scale(1.07);
  filter: drop-shadow(0 3px 3px white);
  cursor: pointer;
}
#custo .custo--tab__2lock:hover {
  transform: translateY(-35px);
  box-shadow: 0 5px 25px 5px black;
  border: 3px solid red;
  background: #000000;
  cursor: pointer;
}
#custo .custo--tab__2lock--group {
  margin-left: 40px;
  display: flex;
  filter: drop-shadow(0 3px 3px black);
  transition: 0.5s;
}
#custo .custo--tab__2lock--group__title {
  width: 80%;
  margin-left: 20px;
  transition: 0.5s;
}
#custo .custo--tab__2lock--group__title h4 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}
#custo .custo--tab__2lock--group__title h2 {
  margin-top: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
#custo .custo--tab__2lock--group__title:hover {
  width: 80%;
  margin-left: 60px;
  cursor: pointer;
}
#custo .custo--tab__2lock--group:hover {
  filter: drop-shadow(0 3px 3px white);
  cursor: pointer;
}
#custo .custo--tab__3lock {
  width: 445px;
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #10375C;
  border: 3px solid white;
  border-radius: 7px;
  transition: 0.6s;
}
#custo .custo--tab__3lock p {
  margin-left: 40px;
  width: 365px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  filter: drop-shadow(0 3px 3px black);
  transition: 0.5s;
}
#custo .custo--tab__3lock p:hover {
  transform: scale(1.07);
  filter: drop-shadow(0 3px 3px white);
  cursor: pointer;
}
#custo .custo--tab__3lock:hover {
  transform: translateY(-35px);
  box-shadow: 0 5px 25px 5px black;
  border: 3px solid red;
  background: #000000;
  cursor: pointer;
}
#custo .custo--tab__3lock--group {
  margin-top: 70px;
  margin-left: 40px;
  display: flex;
  filter: drop-shadow(0 3px 3px black);
  transition: 0.5s;
}
#custo .custo--tab__3lock--group__title {
  width: 80%;
  margin-left: 20px;
  transition: 0.5s;
}
#custo .custo--tab__3lock--group__title h4 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}
#custo .custo--tab__3lock--group__title h2 {
  margin-top: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
#custo .custo--tab__3lock--group__title:hover {
  width: 80%;
  margin-left: 60px;
  cursor: pointer;
}
#custo .custo--tab__3lock--group:hover {
  filter: drop-shadow(0 3px 3px white);
  cursor: pointer;
}
#custo .custo--tab__4lock {
  position: absolute;
  left: 65.3%;
  z-index: -1;
  width: 445px;
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #10375C;
  border: 3px solid white;
  border-radius: 7px;
  transition: 0.6s;
}
#custo .custo--tab__4lock p {
  margin-left: 40px;
  width: 365px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  filter: drop-shadow(0 3px 3px black);
  transition: 0.5s;
}
#custo .custo--tab__4lock p:hover {
  transform: scale(1.07);
  filter: drop-shadow(0 3px 3px white);
  cursor: pointer;
}
#custo .custo--tab__4lock:hover {
  transform: translateY(-35px);
  box-shadow: 0 5px 25px 5px black;
  border: 3px solid red;
  background: #000000;
  cursor: pointer;
}
#custo .custo--tab__4lock--group {
  margin-left: 40px;
  display: flex;
  filter: drop-shadow(0 3px 3px black);
  transition: 0.5s;
}
#custo .custo--tab__4lock--group__title {
  width: 80%;
  margin-left: 20px;
  transition: 0.5s;
}
#custo .custo--tab__4lock--group__title h4 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}
#custo .custo--tab__4lock--group__title h2 {
  margin-top: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
#custo .custo--tab__4lock--group__title:hover {
  width: 80%;
  margin-left: 60px;
  cursor: pointer;
}
#custo .custo--tab__4lock--group:hover {
  filter: drop-shadow(0 3px 3px white);
  cursor: pointer;
}
#custo .custo--tab__5lock {
  position: absolute;
  z-index: -1;
  width: 445px;
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #10375C;
  border: 3px solid white;
  border-radius: 7px;
  transition: 0.6s;
}
#custo .custo--tab__5lock p {
  margin-left: 40px;
  width: 365px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  filter: drop-shadow(0 3px 3px black);
  transition: 0.5s;
}
#custo .custo--tab__5lock p:hover {
  transform: scale(1.07);
  filter: drop-shadow(0 3px 3px white);
  cursor: pointer;
}
#custo .custo--tab__5lock:hover {
  transform: translateY(-35px);
  box-shadow: 0 5px 25px 5px black;
  border: 3px solid red;
  background: #000000;
  cursor: pointer;
}
#custo .custo--tab__5lock--group {
  margin-left: 40px;
  display: flex;
  filter: drop-shadow(0 3px 3px black);
  transition: 0.5s;
}
#custo .custo--tab__5lock--group__title {
  width: 80%;
  margin-left: 20px;
  transition: 0.5s;
}
#custo .custo--tab__5lock--group__title h4 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}
#custo .custo--tab__5lock--group__title h2 {
  margin-top: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
#custo .custo--tab__5lock--group__title:hover {
  width: 80%;
  margin-left: 60px;
  cursor: pointer;
}
#custo .custo--tab__5lock--group:hover {
  filter: drop-shadow(0 3px 3px white);
  cursor: pointer;
}
#custo .custo--tab__11lock {
  position: absolute;
  z-index: -1;
  width: 445px;
  height: 390px;
  background: #ff0000;
  border: 3px solid white;
  border-radius: 7px;
  transition: 0.6s;
  display: flex;
  justify-content: end;
  align-items: end;
}
#custo .custo--tab__11lock h1 {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
  filter: drop-shadow(0 3px 3px #000000);
  transition: 0.6s;
}
#custo .custo--tab__11lock h1 span3 {
  margin-left: 10px;
}
#custo .custo--tab__22lock {
  position: absolute;
  left: 35.1%;
  z-index: -1;
  width: 445px;
  height: 390px;
  background: #fd0000;
  border: 3px solid white;
  border-radius: 7px;
  transition: 0.6s;
  display: flex;
  justify-content: end;
  align-items: end;
}
#custo .custo--tab__22lock h1 {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
  filter: drop-shadow(0 3px 3px #000000);
  transition: 0.6s;
}
#custo .custo--tab__22lock h1 span3 {
  margin-left: 10px;
}
#custo .custo--tab__33lock {
  position: absolute;
  left: 65.3%;
  z-index: -1;
  width: 445px;
  height: 390px;
  background: #ff0000;
  border: 3px solid white;
  border-radius: 7px;
  display: flex;
  justify-content: end;
  align-items: end;
}
#custo .custo--tab__33lock h1 {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
  filter: drop-shadow(0 3px 3px #000000);
  transition: 0.6s;
}
#custo .custo--tab__33lock h1 span3 {
  margin-left: 10px;
}
#custo .custo--tab__44lock {
  position: absolute;
  left: 65.3%;
  z-index: -2;
  width: 445px;
  height: 390px;
  background: #000000;
  border: 3px solid white;
  border-radius: 7px;
  transition: 0.6s;
}
#custo .custo--tab__55lock {
  position: absolute;
  z-index: -2;
  width: 445px;
  height: 390px;
  background: #ff0000;
  border: 3px solid white;
  border-radius: 7px;
  transition: 0.6s;
}
#custo .custo--tab #bake:checked ~ .custo--tab__2lock {
  transform: translateX(-458px);
  transition: 0.8s;
  z-index: 1;
}
#custo .custo--tab #bake:checked ~ .custo--tab__22lock {
  transform: translateX(-458px);
  transition: 0.8s;
}
#custo .custo--tab #bake:checked ~ .custo--tab__4lock {
  transform: translateX(-458px);
  transition: 0.8s;
}
#custo .custo--tab #bake:checked ~ .custo--tab__44lock {
  transform: translateX(-458px);
  transition: 0.8s;
}
#custo .custo--tab #before:checked ~ .custo--tab__2lock {
  transform: translateX(458px);
  transition: 0.8s;
  z-index: 1;
}
#custo .custo--tab #before:checked ~ .custo--tab__22lock {
  transform: translateX(458px);
  transition: 0.8s;
}
#custo .custo--tab #before:checked ~ .custo--tab__5lock {
  transform: translateX(458px);
  transition: 0.8s;
}
#custo .custo--tab #before:checked ~ .custo--tab__55flock {
  transform: translateX(458px);
  transition: 0.8s;
}
#custo .custo--tab #blog-one:checked ~ .custo--tab__1lock {
  transform: translateY(-35px);
  box-shadow: 0 5px 25px 5px black;
  border: 3px solid red;
  background: #000000;
}
#custo .custo--tab #blog-one:checked ~ .custo--tab__1lock p {
  transform: scale(1.07);
  filter: drop-shadow(0 3px 3px white);
}
#custo .custo--tab #blog-two:checked ~ .custo--tab__2lock {
  transform: translateY(-55px);
  box-shadow: 0 5px 25px 5px black;
  border: 3px solid red;
  background: #000000;
}
#custo .custo--tab #blog-two:checked ~ .custo--tab__2lock p {
  transform: scale(1.07);
  filter: drop-shadow(0 3px 3px white);
}
#custo .custo--tab #blog-two:checked ~ .custo--tab__1lock {
  transform: translateY(-35px);
  box-shadow: 0 5px 25px 5px black;
  border: 3px solid red;
  background: #000000;
}
#custo .custo--tab #blog-two:checked ~ .custo--tab__1lock p {
  transform: scale(1.07);
  filter: drop-shadow(0 3px 3px white);
}
#custo .custo--tab #blog-two:checked ~ .custo--tab__22lock h1 {
  margin-right: 35%;
}
#custo .custo--tab #blog-three:checked ~ .custo--tab__3lock {
  transform: translateY(-35px);
  box-shadow: 0 5px 25px 5px black;
  border: 3px solid red;
  background: #000000;
}
#custo .custo--tab #blog-three:checked ~ .custo--tab__3lock p {
  transform: scale(1.07);
  filter: drop-shadow(0 3px 3px white);
}
#custo .custo--tab #blog-three:checked ~ .custo--tab__2lock {
  transform: translateY(-55px);
  box-shadow: 0 5px 25px 5px black;
  border: 3px solid red;
  background: #000000;
}
#custo .custo--tab #blog-three:checked ~ .custo--tab__2lock p {
  transform: scale(1.07);
  filter: drop-shadow(0 3px 3px white);
}
#custo .custo--tab #blog-three:checked ~ .custo--tab__1lock {
  transform: translateY(-35px);
  box-shadow: 0 5px 25px 5px black;
  border: 3px solid red;
  background: #000000;
}
#custo .custo--tab #blog-three:checked ~ .custo--tab__1lock p {
  transform: scale(1.07);
  filter: drop-shadow(0 3px 3px white);
}
#custo .custo--tab #blog-three:checked ~ .custo--tab__33lock h1 {
  margin-right: 68%;
}
#custo .custo--tab #blog-three:checked ~ .custo--tab__22lock h1 {
  margin-right: 35%;
}

#do {
  padding: 3% 0;
}
#do .do h1 {
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  text-align: center;
  color: #10375C;
  filter: drop-shadow(0 3px 3px black);
}
#do .do--bat {
  margin: 80px 0 75px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#do .do--bat input {
  display: none;
}
#do .do--bat__blokone {
  position: absolute;
  z-index: -1;
  width: 330px;
  height: 150px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.51);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
#do .do--bat__blokone h2 {
  width: 235px;
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 33px;
  color: #000000;
  filter: drop-shadow(0 3px 3px black);
  transition: 0.7s;
}
#do .do--bat__blokone:hover {
  transform: translateY(-25px);
  box-shadow: 0 3px 15px rgb(0, 0, 0);
  cursor: pointer;
}
#do .do--bat__blokone:hover h2 {
  transform: scale(1.07);
  filter: drop-shadow(0 3px 2px black);
  cursor: pointer;
}
#do .do--bat__chev {
  position: absolute;
  opacity: 0;
  top: 100%;
  left: 14%;
  width: 70px;
  height: 45px;
  border: none;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 20px #4d4d4d;
  transition: 0.7s;
}
#do .do--bat__chev ion-icon {
  font-size: 25px;
  color: #FF5722;
}
#do .do--bat__bloktwo {
  width: 330px;
  height: 170px;
  border: none;
  box-shadow: 0 10px 20px rgb(138, 136, 136);
  background: #ffffff;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
#do .do--bat__bloktwo h2 {
  width: 235px;
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 33px;
  color: #000000;
  filter: drop-shadow(0 3px 3px #000000);
  transition: 0.5s;
}
#do .do--bat__bloktwo:hover {
  transform: translateY(-25px);
  box-shadow: 0 3px 15px #000000;
  cursor: pointer;
}
#do .do--bat__bloktwo:hover h2 {
  transform: scale(1.1);
  filter: drop-shadow(0 3px 2px #000000);
  cursor: pointer;
}
#do .do--bat__chevtwo {
  position: absolute;
  opacity: 0;
  top: 65%;
  width: 80px;
  height: 50px;
  border: none;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 20px #FF5722;
  transition: 0.4s;
}
#do .do--bat__chevtwo ion-icon {
  font-size: 30px;
  color: #FF5722;
}
#do .do--bat__blokthre {
  position: absolute;
  z-index: -1;
  width: 330px;
  height: 150px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.51);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
#do .do--bat__blokthre h2 {
  width: 235px;
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 33px;
  color: #000000;
  filter: drop-shadow(0 3px 3px black);
  transition: 0.7s;
}
#do .do--bat__blokthre:hover {
  transform: translateY(-25px);
  box-shadow: 0 3px 15px rgb(0, 0, 0);
  cursor: pointer;
}
#do .do--bat__blokthre:hover h2 {
  transform: scale(1.07);
  filter: drop-shadow(0 3px 2px black);
  cursor: pointer;
}
#do .do--bat__chevthre {
  position: absolute;
  opacity: 0;
  top: 100%;
  left: 81%;
  width: 70px;
  height: 45px;
  border: none;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 20px #5b5b5b;
  transition: 0.7s;
}
#do .do--bat__chevthre ion-icon {
  font-size: 25px;
  color: #FF5722;
}
#do .do--bat #more:checked ~ .do--bat__blokone {
  transform: translateX(-450px);
  transition: 0.7s;
}
#do .do--bat #more:checked ~ .do--bat__chev {
  transform: translateY(-32px);
  opacity: 10;
}
#do .do--bat #more:checked ~ .do--bat__chev:hover {
  background: #FF5722;
  transition: 0.4s;
  cursor: pointer;
}
#do .do--bat #more:checked ~ .do--bat__chev:hover ion-icon {
  color: white;
}
#do .do--bat #more:checked ~ .do--bat__bloktwo {
  transform: scale(1.1);
  background: #FF5722;
  box-shadow: 0 0 15px #FF5722;
}
#do .do--bat #more:checked ~ .do--bat__bloktwo h2 {
  color: #FFFFFF;
  filter: drop-shadow(0 3px 3px #ffffff);
}
#do .do--bat #more:checked ~ .do--bat__chevtwo {
  transform: translateY(40px);
  opacity: 10;
}
#do .do--bat #more:checked ~ .do--bat__chevtwo:hover {
  background: black;
  box-shadow: 0 2px 20px #000000;
  cursor: pointer;
}
#do .do--bat #more:checked ~ .do--bat__blokthre {
  transform: translateX(450px);
  transition: 0.7s;
}
#do .do--bat #more:checked ~ .do--bat__chevthre {
  transform: translateY(-32px);
  opacity: 10;
}
#do .do--bat #more:checked ~ .do--bat__chevthre:hover {
  background: #FF5722;
  transition: 0.4s;
  cursor: pointer;
}
#do .do--bat #more:checked ~ .do--bat__chevthre:hover ion-icon {
  color: white;
}
#do .do--opt {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#do .do--opt h3 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #FF5722;
  transition: 0.4s;
}
#do .do--opt h3:hover {
  transform: scale(1.07);
  filter: drop-shadow(0 3px 3px #FF5722);
  cursor: pointer;
}
#do .do--opt label {
  margin-left: 25px;
}
#do .do--opt label ion-icon {
  width: 60px;
  height: 95px;
  border-radius: 5px;
  color: #FF5722;
  box-shadow: 0 2px 15px black;
  transition: 0.4s;
}
#do .do--opt label ion-icon:hover {
  transform: translateY(-25px);
  background: #000000;
  cursor: pointer;
}

#news {
  padding: 4% 0;
}
#news .news--title {
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#news .news--title h1 {
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #10375C;
  filter: drop-shadow(0 3px 3px black);
}
#news .news--title h5 {
  padding: 5px 3px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FF5722;
  border-radius: 3px;
  display: flex;
  align-items: center;
  transition: 0.4s;
}
#news .news--title h5 ion-icon {
  margin-left: 10px;
  font-size: 20px;
  color: #FF5722;
  transition: 0.4s;
}
#news .news--title h5:hover {
  transform: scale(1.07);
  background: #FF5722;
  color: #ffffff;
  filter: drop-shadow(0 3px 5px #FF5722);
  cursor: pointer;
}
#news .news--title h5:hover ion-icon {
  color: #ffffff;
}
#news .news--blogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
  gap: 145px;
}
#news .news--blogs__blogone {
  position: relative;
}
#news .news--blogs__blogone img {
  box-shadow: 0 0 15px #000000;
}
#news .news--blogs__blogone--all {
  position: absolute;
  top: 0;
  padding-left: 30px;
  opacity: 0;
  width: 350px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.71);
  transition: 1s;
}
#news .news--blogs__blogone--all h1 {
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  color: #222831;
  filter: drop-shadow(0 3px 3px black);
}
#news .news--blogs__blogone--all p {
  margin: 25px 0 20px 0;
  width: 315px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.62);
  filter: drop-shadow(0 3px 3px black);
}
#news .news--blogs__blogone--all__group {
  display: flex;
  align-items: center;
}
#news .news--blogs__blogone--all__group--title {
  margin-left: 20px;
}
#news .news--blogs__blogone--all__group--title h3 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #10375C;
}
#news .news--blogs__blogone--all__group--title h4 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #9A9A9A;
}
#news .news--blogs__blogone--all:hover {
  transform: translateX(490px);
  opacity: 10;
}
#news .news--blogs__blogother {
  width: 350px;
  height: 320px;
  background: transparent;
}
#news .news--blogs__blogtwo {
  position: relative;
}
#news .news--blogs__blogtwo img {
  transition: 0.7s;
}
#news .news--blogs__blogtwo img:hover {
  transform: translateY(-130px);
  cursor: pointer;
}
#news .news--blogs__blogtwo--all {
  width: 350px;
  height: 130px;
  position: absolute;
  top: 75px;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.71);
  transition: 0.5s;
}
#news .news--blogs__blogtwo--all__title {
  width: 320px;
  margin-left: 15px;
}
#news .news--blogs__blogtwo--all__title h3 {
  margin-bottom: 20px;
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #222831;
  filter: drop-shadow(0 3px 3px black);
  transition: 0.5s;
}
#news .news--blogs__blogtwo--all__title h4 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.56);
  filter: drop-shadow(0 3px 3px black);
  transition: 0.5s;
}
#news .news--blogs__blogtwo--all:hover {
  background: #FF5722;
  box-shadow: 0 0 15px #FF5722;
  cursor: pointer;
}
#news .news--blogs__blogtwo--all:hover h3 {
  transform: scale(1.05);
  color: white;
  filter: drop-shadow(0 3px 3px white);
}
#news .news--blogs__blogtwo--all:hover h4 {
  transform: scale(1.01);
  color: white;
  filter: drop-shadow(0 3px 3px white);
}

#fot {
  background: #012e59;
}
#fot .fot {
  display: flex;
  align-items: center;
}
#fot .fot--title {
  width: 445px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#fot .fot--title__group {
  display: flex;
  align-items: center;
  transition: 0.3s;
}
#fot .fot--title__group h5 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #F8F8F8;
}
#fot .fot--title__group--line {
  margin-left: 15px;
  width: 75px;
  height: 2px;
  background: white;
}
#fot .fot--title__group:hover {
  transform: scale(1.03);
  filter: drop-shadow(0 3px 3px white);
  color: white;
}
#fot .fot--title h1 {
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  color: #FFFFFF;
  filter: drop-shadow(0 3px 3px black);
  transition: 0.3s;
}
#fot .fot--title h1:hover {
  transform: scale(1.07);
  filter: drop-shadow(0 3px 3px white);
  color: white;
}
#fot .fot--title p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #DFDFDF;
  filter: drop-shadow(0 3px 3px black);
  transition: 0.3s;
}
#fot .fot--title p:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 3px 3px white);
  color: white;
}
#fot .fot--title button {
  width: 365px;
  height: 55px;
  background: #FF5722;
  border: none;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  transition: 0.3s;
}
#fot .fot--title button:hover {
  transform: scale(1.03);
  box-shadow: 0 5px 10px -5px #ffffff;
  background: white;
  color: #FF5722;
  letter-spacing: 3px;
  cursor: pointer;
}
#fot .fot--blog {
  margin-left: 30%;
}
#fot .fot--blog__indus {
  width: 21.3%;
  position: absolute;
  filter: drop-shadow(0 3px 3px #000000);
  z-index: 2;
}
#fot .fot--blog__lines {
  filter: drop-shadow(0 3px 3px #000000);
}

#footer {
  background: #0D2C4A;
  padding: 3% 0;
}
#footer .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .footer--block {
  width: 255px;
}
#footer .footer--block h1 {
  width: 85%;
  height: 70px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 52px;
  color: #FFFFFF;
  filter: drop-shadow(0 3px 3px black);
  transition: 0.4s;
}
#footer .footer--block h1:hover {
  transform: scale(1.05);
  background: black;
  filter: drop-shadow(0 3px 7px #000000);
  cursor: pointer;
}
#footer .footer--block p {
  margin: 10px 0 15px 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgb(248, 248, 248);
  filter: drop-shadow(0 3px 3px black);
}
#footer .footer--block__ions {
  display: flex;
  gap: 15px;
}
#footer .footer--block__ions--circle {
  width: 50px;
  height: 50px;
  background: #ffffff;
  box-shadow: 0 3px 10px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
#footer .footer--block__ions--circle ion-icon {
  font-size: 22px;
  color: #000000;
  transition: 0.7s;
}
#footer .footer--block__ions--circle:hover {
  background: black;
  border-radius: 50%;
}
#footer .footer--block__ions--circle:hover ion-icon {
  font-size: 27px;
  transform: rotate(360deg);
  color: #FFFFFF;
  cursor: pointer;
}
#footer .footer--blocksec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 12%;
  height: 200px;
}
#footer .footer--blocksec h2 {
  margin-bottom: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.45);
  transition: 0.4s;
}
#footer .footer--blocksec h2:hover {
  color: white;
}
#footer .footer--blocksec a {
  height: 25px;
  display: flex;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 1px;
  transition: 0.7s;
}
#footer .footer--blocksec a:hover {
  color: black;
  background: white;
  border-radius: 3px;
  box-shadow: 0 1px 8px white;
  transform: scale(1.05);
  transition: 0.3s;
}
#footer .footer--blockthir {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 12%;
  height: 200px;
}
#footer .footer--blockthir h2 {
  margin-bottom: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.45);
  transition: 0.4s;
}
#footer .footer--blockthir h2:hover {
  color: white;
}
#footer .footer--blockthir a {
  height: 25px;
  display: flex;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 1px;
  transition: 0.7s;
}
#footer .footer--blockthir a:hover {
  color: black;
  background: white;
  border-radius: 3px;
  box-shadow: 0 1px 8px white;
  transform: scale(1.05);
  transition: 0.3s;
  cursor: pointer;
}
#footer .footer--blockfour {
  width: 212px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}
#footer .footer--blockfour h2 {
  margin-bottom: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.45);
  transition: 0.4s;
}
#footer .footer--blockfour h2:hover {
  color: white;
}
#footer .footer--blockfour h1 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
}
#footer .footer--blockfour p {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}
#footer .footer--blockfour a {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
